:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}

/* 

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.bg-db {
  background-image: url("https://www.infobae.com/new-resizer/o-x20cYWl08rElKHum0oPYUosGw=/1200x900/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/SXU7HVDRJNDLJLDC5D755OYVU4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} 

.container {
  height: 100vh;
  width: 400px;
}

.btn {
  background-color: #242424;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #000;
}

.btn:active {
  transform: scale(1.1);
}

.btn:focus {
  outline: none;
}

.botonera{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  gap: 10px;
}

.menu{
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  top: 0;
  width: 320px;
  left: 0;
  right: 0;
  margin: auto;
} */


@keyframes moveText {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes shine {
0% {
    opacity: 1;
}
50% {
    opacity: 0.1;
}
100% {
    opacity: 1;
}
}

.shining {
animation: shine 2s linear infinite;
}

.moving-text {
animation: moveText 5s linear infinite;
}

.center {
display: grid;
place-items: center;
}


.flex-between{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.game_name{
  font-size: 6.4rem;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  margin: 2.5rem 0;
}

.mb-4 {
  margin-bottom: 1rem;
}
.bg-opacity{
  background-color: rgba(0,0,0,0.5);
  padding: 1rem;
  border-radius: 1rem;
}

/* MAIN MENU */

#main_screen .btn {
background-color: #242424;
border: none;
border-radius: 5px;
cursor: pointer;
}

#main_screen .btn:hover {
  transform: scale(1.1);
}

#main_screen .btn:focus {
outline: none;
}

#main_screen h2{
font-size: 1.55rem;
font-weight: 900;
color: #979797;
width: max-content;
margin: 0.5rem auto;
}

#main_screen .buttons{
display: flex;
justify-content: space-around;
gap: 0.5rem;
margin-top: 2rem;
flex-wrap: wrap;
overflow-y: auto;
overflow-x: hidden;
height: 420px;
}
#main_screen .buttons .btn-theme{
width: 360px;
height: 200px;
cursor: pointer;
}
#main_screen .buttons .btn-theme .img-theme{
  width: 90%;
  height: 90%;
  object-fit: fill;
  border-radius: 5%;
}

/* SCREEN MENU */


#menu_screen{
  height: 100vh;
}

#menu_screen .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu_screen .btn {
  width: 200px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* GAME SCREEN */


#game_screen .info{
position: absolute;
top: 10px;
left: 10px;
display: grid;
}

#game_screen .buttons{
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100%;
}

#game_screen .buttons .btn-left{
  width: 100px;
  height: 300px;
  background: none ;
  border: none;
}

#game_screen .buttons .btn-rotate{
  width: 100px;
  height: 300px;
  background: none ;
  border: none;
}

#game_screen .buttons .btn-down{
  width: 100%;
  height: 100px;
  background: none ;
  border: none;
}

#game_screen .buttons .btn-right{
  width: 100px;
  height: 300px;
  background: none ;
  border: none;
}

/* CONFIG SCREEN */



#config_screen{
  height: 100vh;
}

#config_screen .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#config_screen .btn {
  width: 250px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}


#config_screen ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#config_screen ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

}

#config_screen ul li div{
  font-size: 1.5rem;
  font-weight: bold;
}

#config_screen ul li div:nth-child(2){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#config_screen ul li div:nth-child(2) button{
  width: 6.6rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

#config_screen ul li div:nth-child(2) button.active{
  background-color: #fff;
  color: #000;
}

#config_screen ul li div:nth-child(2) button:focus{
  outline: none;
}




/* Estilos para dispositivos móviles (ancho de pantalla <= 768px) */
@media (max-width: 768px) {
}

/* Estilos para escritorio (ancho de pantalla > 768px) */
@media (min-width: 769px) {

  /* MAIN SCREEN */

  #main_screen .buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
    gap: 4rem ;
    }


  /* SCREEN MENU */
  
  #menu_screen .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* GAME SCREEN */
  #game_screen .info{
    /* bg trans */
   background-color: rgba(0, 0, 0, 0.5);
   padding: 1rem;
  }

  


}


